.container {
  display: flex;
  flex-direction: column;
  background-color: #111;
}

.main {
  min-height: 50vh;
  flex-grow: 1; /* Ensures it takes up available space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
