.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  rgba(34, 34, 34, 0.8); 
    color: white;
    padding: 0.5rem 1rem;
    position: fixed; /* Элемент будет фиксированным */
    top: 0; /* Прикреплен к верхней части экрана */
    left: 0; /* Растягивается от левого края экрана */
    right: 0; /* Растягивается до правого края экрана */
    z-index: 1000; /* Убедитесь, что навбар всегда над другими элементами */
}

.logo a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.navItems {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navItem {
    height: max-content;
    margin-left: 20px;
    position: relative;
    height: 22px;
}

.navItem a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navItem a:hover {
    color: #fff;
}

.logoLink {
    color: #e6fcd9; 
    text-size-adjust: 10px;
    width: 134px;
    display: flex;
    align-items: center;
}
.dropdownContent {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
    transform-origin: top center;
    margin-top: 5px;
    display: none; /* Initially hidden */
}

.navItem:hover .dropdownContent {
    display: block; /* Show dropdown */
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}

.dropdownContent a {
    color: #ccc;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.2s ease, transform 0.2s ease;
    border-radius: 4px; /* Скругление углов */
}

.dropdownContent a:hover {
    background-color: #444;
    transform: scale(1.05);
    border-radius: 4px; /* Сохраняем скругление углов при наведении */
}


/* Adjust the transform translateY value for a subtle slide effect */
.navItem .dropdownContent {
    transform: translateX(-50%) translateY(-10px);
}

/* Transition for closing animation */
.navItem:not(:hover) .dropdownContent {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
    transform: translateX(-50%) translateY(-20px);
}