.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 0.5rem 1rem;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.navItems {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navItem {
    margin-left: 20px;
}

.navItem a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navItem a:hover {
    color: #04c;
}
.logoLink {
    display: flex;
    align-items: center;
}