.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 0.5rem 1rem;
    position: relative;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.navItems {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navItem {
    margin-left: 20px;
    position: relative;
}

.navItem a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navItem a:hover {
    color: #04c;
}
.logoLink {
    display: flex;
    align-items: center;
}

.dropdownContent {
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    transform: translateY(-20px);
}

.navItem:hover .dropdownContent {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdownContent a:hover {
    background-color: #ddd;
}
