html, body {
    height: 100%;
    margin: 0;
    background: #222;
  }
  body {
    padding-top: 70px; /* Высота вашего навбара */
}
  
  #__next {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  main {
    flex: 1 0 auto; /* Ensures that main content takes up space */
  }

  